@{
    ViewBag.Title = "Guide";
    Layout = "~/Areas/Weixin/Views/Shared/_Layout0.cshtml";
}

<form>
    <input type="text" name="code" value="@ViewBag.uid" placeholder="请输入8位数字邀请码" />
    <button>下一步</button>
</form>

