@{
    ViewBag.Title = "Index";
}
<a href="/Weixin/Welcome/Index">/Weixin/Welcome/Index</a>
<br/>
<a href="/Weixin/Home/Gender">/Weixin/Home/Gender</a>
<br />
<a href="/Weixin/Home/Index">/Weixin/Home/Index</a>
